:root{
--primary-color: #5d115c;
--secondary-color: #c00c39;
--alt-color: #f1f1f1;


--secondary-text-color: #a3a3a3;
--secondary-text-light: #e3e3e3;

--se4condary-color-dark: #081a29;
    
--swiper-theme-color: var(--primary-color);
}

body{
margin:0;
font-family: "Open sans", sans-serif;
background: var(--alt-color);
overflow-x: hidden;
}

h1{
color:var(--secondary-color);
text-transform: uppercase;
}

a{
color: var(--alt-color);
text-decoration: none;
}

a{
transition:0.4s;
text-decoration:none;
}

a:hover{
color:#ccc;
}

p{
font-size: 4em 2em;
color: var(--secondary-text-color);
line-height: 1.6em;
}

section{
padding: 4em 2em;
margin: 3em 0;
}

.container{
margin:0 auto;
max-width: 1100px;
}

.logo{
filter: drop-shadow(5px 5px 5px #111);
}


nav{
z-index: 99;
position:relative;
}

nav a{
text-decoration: none;
}

nav .container{
padding: 1em 2em;
max-width: 1200px;
}

nav .container > div,
nav .menu{
    display: flex;
    justify-content: space-between;
    display: inline-block;
}

nav ul{
list-style-type: none;
padding: 0;
display:inline-block;
}

nav ul li{
display: inline-block;
margin:0 0.5em;
}

nav ul a {
font-size: 0.8em;
text-transform: uppercase;
font-weight: 700;
}

nav .logo{
width:12em;
display: inline-block;
filter: drop-shadow(5px 5px 5px #ccc);
}

nav .container .menu-btn {
display:none;
}


header{
height:100vh;
background: url(clouds2.png)
    center no-repeat;
background-size: cover;
position:relative;
}

header::before,
header::after{
    content:"";
    position: absolute;
    left: 0;
    top:0;
    height:100%;
}

header::before{
width: 100%;
background: 
    url(background.png)
    center no-repeat;
background-size: cover;
}

header::after{
    background: linear-gradient{
        90deg, #f1f1f1 0%,
        rgba(255, 255, 255, 0) 100%
    };
    width: 50%;
}

header .content{
display:flex;
justify-content: flex-start;
align-items: center;
position: relative;
z-index:1;
padding: 0 3em;
height:80%;
max-width: 500px;
}


header .plane{
width: 60%;
max-width: 1000px;
position: absolute;
right: 0;
top: 0;
top: 30%;
z-index: 0;
animation-delay: 500ms;
}

header h1{
    font-size: 2.7em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3em;
    color: var(--secondary-color);
}

header h1 span{
    font-size: 1.1em;
    color: var(--primary-color);
}


header p{
    max-width: 400px;
}


.btn {
    padding: 0.7em 1.5em;
    border-radius: 2em;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin: 1em 0;
    display: inline-block;
}

.btn-primary{
    background: var(--primary-color);
    margin-right: 0.5em;
}

.btn-primary:hover{
    background: #009c8e;
}

.btn-secondary{
    border: 2px var(--secondary-color) solid;
    color: var(--secondary-color);
}

.btn-secondary:hover{
    background: var(--secondary-color);
    color:#fff;
}


.about{
    margin:0;
    position: relative;
}